/* CSS Box Model */

*{
  margin: 0;
}
h1{
  background: red;
  padding: 30px;
  margin: 10px;
  border-style: solid;
  border-width: 10px;
  border-color: blue;
}
h2{
  background: red;
  padding: 30px;
  margin: 10px;
  border-bottom: 5px dotted yellow;
}
p{
  background: lightblue;
  padding: 30px;
  margin: 10px;
  border: 5px solid chocolate;
  border-radius: 50%;
  /* padding: pt/pd pr/pl; */
  /* padding:  pt pr pd pl; */
  /* border: width style color; */
}
.buttons{
  margin:3rem;
}
a{
  background: #689f3f;
  text-decoration: none;
  padding: 1.2rem 1.5rem;
  color: #222;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 20px;
}
#one{
  border: 0.2rem solid #222;
}
#two{
  outline: 0.2rem solid #222;
  outline-offset: -10px;
}