/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body{
  text-align: center;
} */

.block{
  background: lightblue;
  width: 150px;
  /* margin: 10px auto; */
  /* display: inline; */
}
.inline{
  background: lightgray;
  /* display: block; */
}

/* 
  Block: Top bottom margin respected
  Inline: Top bottom margin not repected
  Mobile Navbar
  list-style-type: property
  descendant selectors
*/

/* ul{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li {
  list-style: decimal;
}
ul li a{
 text-decoration: none;
 text-transform: capitalize;
 letter-spacing: 2px;
 background: orange;
 color: #000;
 display: block;
 padding: 5px;
 margin: 5px;
} */

/* inline-block */
/* a{
  font-size: 60px;
  background: red;
  margin: 60px;
  display: inline-block;
} */

/* Border-box 
  opacity
  display: none
  visibility: hidden
*/

.box{
  width: 200px;
  height: 200px;
  color: rgba(00, 00, 19, 1);
}
.box-1{
  background: blue;
  opacity: 0;
  /* padding: 20px;
  box-sizing: border-box; */
}
.box-2{
  background: green;
  display: none;
}
.box-3{
  background: salmon;
  /* visibility: hidden; */
  /* padding: 20px; */
}
