/* body{
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
} */

/*
.grid-container{
  height: 160vh;
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  /* grid-template-rows: 300px 300px 300px; 
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  grid-auto-rows: 300px;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 1em;
  border: 2px solid black;
  /* justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center; 
}
*/
/* .item{
  height: 100px;
  width: 100px;
  padding: 2em;
  background: rgba(249, 188, 188, 0.853);
  border: 5px solid rgb(248, 76, 13);
  border-radius: 8px;
  font-size: 2rem;
  color: indigo;
  text-align: center;
  box-sizing: border-box;
} */

/* Bento Grids */
/* .layout{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 200px 200px;
  gap: 1em;
  border: 5px solid black;
  grid-auto-rows: 200px;
  grid-auto-columns: 200px;
  grid-template-areas: 
  "box-1 box-2 box-2 box-3"
  "box-1 box-4 box-5 box-5";
}

.box{
  background-color: rgb(235, 162, 135);
  border: 5px solid coral;
}

@media(max-width: 56em){
  .layout{
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: 
    "box-1 box-1 box-2"
    "box-1 box-1 box-3"
    "box-4 box-5 box-5";
  }
}

@media(max-width: 42em){
  .layout{
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-2"
    "box-3 box-5"
    "box-4 box-5";
  }
} */

/* Grid Stacking */

/* .container{
  border: 5px solid black;
  height: 500px;
  width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.child-1{
  background-color: rgb(235, 162, 135);
  border: 5px solid coral;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.child-2{
  background-color: rgb(135, 235, 150);
  border: 5px solid rgb(4, 79, 12);
  grid-column: 2 / 4;
  grid-row: 1 / 2;
} */

/* Grid Wrapping */

.product-list{
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  justify-content: center;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.product p{
  font-weight: 600;
}
.product img{
  height: auto;
  border-radius: 10px;
} 