body{
  color: tomato;
}
div{
  color: blue;
}
h2 { 
  color: brown;
}


/* last rule */
p {
  color: blue;
}
p { 
  /* this will work */
  color: slategrey;  
}

/* Specificity */
.paragraph{
  color: burlywood;
}