/*
 Media Quaries 
 Responsive Design
 Style Elments on different screen sizes
 min-width: --- starting from
 max-width: --- up to
 mobile First
*/

/* body{
  background: yellowgreen;
}
.banner{
  background: lightblue;
}
h1{
  color: brown;
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

@media screen and (min-width: 576px){
  body{
    background: turquoise;
  }
  .banner{
    background: teal;
  }
  h1{
    color: black;
    font-size: 60px;
  }
}
@media screen and (min-width: 776px){
  body{
    background: lightblue;
  }
  .banner{
    background: yellowgreen;
  }
  h1{
    color: black;
    font-size: 60px;
  }
} */

/* z-index */
/* img{
  width: 100px;
  height: 100px;
  position: absolute;
}
.banner{
  margin: 20px;
  width: 70vw;
  height: 70vh;
  border: 3px solid black;
  position: relative;
}
.one{
  top: 0;
  left: 0;
  z-index: 1;
}
.two{
  top: 10%;
  left: 10%;
  z-index: -1;
}
.three{
  top: 20%;
  left: 20%;
  z-index: -2;
} */

/* pseudo elements
  ::before ::after
  content not element
  content:'' -- required
  img -- does not work
*/

p::before{
  content: "Hello ";
  display: block;
  background: wheat;
  font-weight: bold;
  font-size: 2rem;
  color: blueviolet;
}
p::after{
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background: green;
}
div{
  width: 60vw;
  margin: 100px auto;
  /* border: 3px solid purple; */
  position: relative;
}
img{
  width: 100%;
  display: block;
}
div::before{
  content: "";
  border: 2px solid purple;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -40px;
  left: -40px;
  z-index: -2;
  transition: all 0.5s linear;
}
div::after{
  content: "";
  background: purple;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  top: -20px;
  left: -20px;
  z-index: -1;
  transition: all 0.5s linear;
}

div:hover::after,
div:hover::before{
  top: 0;
  left: 0;
}