/* 
  text-shadows
  box-shadows
*/
/* h1{
  text-shadow: 1px 1px 6px red;
}
div{
  width: 100px;
  height: 100px;
  background: lightblue;
  margin: 100px;
  box-shadow: 3px 5px 5px hsla(0, 0%, 0%, 0.205);
} */

/* Semantic elements */