/* Font-size, width-height, pixels */

#first{
  font-size: 30px;
  width: 200px;
  height: 100px;
  background: blueviolet;
}

/* percentage */

.outer{
  width: 100px;
  height:100px;
  background: tomato;
}

.inner{
  width: 50%;
  height:50%;
  background: yellowgreen;
}

/* em = depends on parent, 
  rem = depends on root */
/* em = 16px */
html{
  font-size: 32px;
}

.relative{
  font-size: 2rem;
}

.absolute{
  font-size: 32px;
}
/* div{
  font-size: 10px;
  background-color: antiquewhite ;
} */


/* vh = height - percent of the screen  */
/* vw = weight - percent of the screen  */
.banner{
  height: 50vh;
  width: 50vw;
  background-color: aquamarine;
}
.header{
  width: 100vw;
  height: 100vw;
  background-color: blueviolet;
}

/* Default browser styles and Google devTools */
.h2{
  color: blueviolet;
}

/* calc()
  perform math operations + - * /
  mix and match values
   */
*{
  margin: 0;
}
.navbar{
  background: blue;
  height: 100px;
  color: white;
  font-size: 3rem;
}
.banner2{
  background: red;
  min-height: calc(100vh - 100px);
}